<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Avis sur une commande e-MiniShopRDC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='verification.css') }}">
</head>
<body>
</head>
<body>
  <h1 style="text-align:center;">Avis sur une commande <br>e-MiniShopRDC</h1>

  <form>
    <label for="verification">un avis concernant une commande? :</label>
    <input type="text" id="verification" name="verification" >
    
    
    
    <button type="submit">Envoyer</button>

    
    <footer><small> &copy BotayExpress - Tous droits réservés</small></footer>
  </form>
</body>
</html>
