<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Profil Acheteur - e-MiniShopRDC</title>
<link rel="stylesheet" href="{{ url_for('static', filename='profil_acheteur.css') }}">
</head>
<body>

<header>
  <div class="logo">e-MiniShopRDC</div>
  
</header>

<main>

  <div class="profil-container">
    <img src="{{ user.profil }}" class=bigprofile-img alt="Photo de profil">
    
  </div>


  <h2 class="username">{{ user.first_name }} {{ user.last_name }}</h2>

 

  <p class="username">Email : {{ user.email }}</p>
  <a href="{{ url_for('modifier_profil_acheteur') }}" class="modifer-btn">Modifier le profil</a>
  

  

  <div class="section">
    <h2>Boutiques Abonnées</h2>
    <div class="subscriptions-grid">
      <div class="card">
        <h3>KasaTech</h3>
        <p>Spécialiste en consoles gaming.</p>
      </div>
      <div class="card">
        <h3>TechWorld</h3>
        <p>Accessoires et gadgets tech.</p>
      </div>
    </div>
  </div>

  <div class="section" onclick="window.location.href='/avis_commande'">
    <h2>Laisser un avis sur une commande</h2>
    <div class="comments-grid">
      <div class="card">
        <p>“Intéressé par la PS5 Pro, super boutique !”</p>
        <p><strong>KasaTech</strong></p>
      </div>
      <div class="card">
        <p>“Le casque gaming est excellent, livraison rapide.”</p>
        <p><strong>KasaTech</strong></p>
      </div>
    </div>
  </div>
  <a href="{{ url_for('acceuil') }}" class="modifer-btn">Acceuil</a>
  <a href="{{ url_for('profil_vendeur') }}" class="buy-btn">Ma Boutique</a>

</main>

</body>
</html>